// Typography --------------------------------

// $font-main: "", sans-serif;

// Colors -------------------------------------

// Color Variables
$color-black    : #000000;
$color-black-lg : #262626;
$color-black-lgt: #3E3E3E;
$color-white-dk : #F2F2F2;
$color-white    : #FFFFFF;

$color-grey-dkr : #262626;
$color-grey-dkrl: #4A4A4A;
$color-grey-dk  : #666666;
$color-grey-dkl : #949494;
$color-grey     : #ababab;
$color-grey-lg  : #E6E6E6;
$color-grey-lgt : #F8F8F8;

$color-red      : #FF0000;
$color-blue     : #1C69D4;
$color-blue-dkl : #005AE1;
$color-blue-dk  : #0653B6;
$color-green    : #45c945;
